* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
    color: #0AA695;
    text-decoration: none;
}

body {
    background: linear-gradient(to top, #dfe9f3 0%, white 100%);
}

.titulo {
    text-align: center;
    margin: 50px 0;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mesAtual h2 {
    background-color: #0AA695;
    color: whitesmoke;
    padding: 10px;
    text-decoration: none;
    margin-bottom: 10px;
    border: 3px solid black
}

.calendario {
    text-align: center;
}

.sairBTN {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px;
}

.sairBTN a {
    background-color: #0AA695;
    color: whitesmoke;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    margin-bottom: 10px;
}