* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
    color: #0AA695;
    text-decoration: none;
}

body {
    background: linear-gradient(to top, #dfe9f3 0%, white 100%);
}

.titulo {
    text-align: center;
    margin: 50px 0;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.calendario {
    display: flex;
    flex-wrap: wrap;
    width: 210px;
    margin-bottom: 100px;
}

.divDatas {
    width: 30px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divDatas a {
    padding: 3px;
    font-weight: bold;
    font-size: 24px;
    color: black;
}

.divDatas a:hover {
    color: #0AA695;
}

.botaoSair a {
    padding: 20px;
    background-color: #0AA695;
    color: whitesmoke;
    border-radius: 10px;
}

.aprovado {
    background-color: green;
}

.cadastrado {
    background-color: yellow;
}

.revisao {
    background-color: red;
}