* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
    color: #0AA695;
    text-decoration: none;
}

body {
    background: linear-gradient(to top, #dfe9f3 0%, white 100%);
}

.titulo {
    text-align: center;
    margin: 50px;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.calendario {
    display: flex;
    flex-wrap: wrap;
    width: 350px;
    margin-bottom: 100px;
    margin-top: 20px;
}

.divDatas {
    width: 45px;
    margin-top: 5px;
    margin-left: 5px;
    display: flex;
    border-radius: 45px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    margin-bottom: 10px;
}

.divDatas a {
    padding: 2px;
    font-weight: bold;
    font-size: 20px;
    color: black;
    margin: 1px;
}

.divDatas a:hover {
    color: #0AA695;
}

.botaoSair a {
    padding: 20px;
    background-color: #0AA695;
    color: whitesmoke;
    border-radius: 10px;
}

.aprovado {
    background-color: #60f768;
}

.cadastrado {
    background-color: #f2f760;
}

.revisao {
    background-color: #f76060;
}

.nao_cadastrado {
    background-color: #ebebeb;
}